.header
{
    text-align: center;
    display: flex;
    flex-direction: column;
    &__logo
    { 
        box-shadow: #00000052 0px 2px 2px; 
        & a
        {
            color: black;
            font-size: small;
            text-decoration: none;
        }
    }
    &__lieu
    {
        background: #0000000d;
    }
}
.header-menu
{
    display: flex;
    align-items: center;
    text-align: center;
    margin: -10px 0 -10px 0;
    @media (min-width: 768px)
    {
        justify-content: center;
    }
    &__back
    {
        padding: 15px;
        & a
        {
            color: black;
        }
    }
    &__logo
    {
        width: 75%;
        & a
        {
            text-decoration: none;
            color: black;
        }
    }
}
.img-background img
{
    @media (min-width: 768px)
    {
        position: fixed;
        opacity: 0.3;
    }
}