@mixin btn {
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    padding: 15px;
    border-radius: 50px;
    color: $color-white;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    margin: 0 10% 0 10%;
    &:hover
    {
        opacity: 0.8;
        box-shadow: #0000008c 0px 4px 10px;
    }
}